.Container {
  width: 100%;
  overflow: hidden;

  .overlay {
    z-index: 20;
    width: 100vw;
    height: 100vh;
    display: none;
    position: fixed;
  }

  & .fade {
    display: block;
    background: #464762;
    opacity: 0.75;
  }

  a {
    text-decoration: none;
  }
}

.cookie-button-wrapper {
  display: flex;
  flex-direction: column-reverse;
}
