.Container {
  width: 100%;
  // overflow: hidden;

  .overlay {
    z-index: 30;
    width: 100vw;
    height: 100vh;
    display: none;
    position: fixed;
  }

  & .fade {
    display: block;
    background: #464762;
    opacity: 0.75;
  }

  a {
    text-decoration: none;
  }
}

.cookie-button-wrapper {
  display: flex;
  align-self: flex-end;
}

.burger.light:not(.open) .burger-lines,
.burger.light:not(.open) .burger-lines:after,
.burger.light:not(.open) .burger-lines:before {
  background-color: #000;
}

.burger {
  font-size: 8px !important;
}
