.Footer {
  font-style: italic;
  padding: 20px 30px;
  color: #FF1654;
  text-align: center;

  a {
    // font-weight: bold;
    // text-decoration: underline;
    // color: blue;
    color: #247BA0;
    text-decoration: none;
  }
}
