// hsla
// hsla(344, 100%, 54%, 1)
// rgba
// rgba(255,22,84,1)
// hex
// #FF1654

.Header {
  font-family: Montserrat;
  color: #fff;

  position: absolute;
  width: 100%;
  z-index: 20;
  padding: 0 4em;

  margin-top: 1.5em;

  @media (max-width: 1024px) {
    padding: 0 1em;
  }

  &.light {
    // old
    // position: static;
    // color: #000;
    // margin-bottom: 2em;

    position: absolute;
    color: #000;
    margin-bottom: 2em;
    background: transparent;

    .logo {
      fill: #d4004c;
    }

    svg g#Product {
      stroke: #000;
    }

    .Header__nav {
      a {
        color: #000;
      }
    }
  }
}

.Header__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: auto;
  max-width: 160px;
  height: 100%;
  fill: #fff;

  & g > g:last-child {
    fill: #d4004c;
  }
}

.Header__icon {
  font-size: 0.3em;
}

.Header__nav {
  display: flex;
  align-items: center;

  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  // flex-basis: 30%;
  justify-content: flex-end;
  width: 425px;
  a {
    display: block;
    color: #fff;
  }
}

.Header__btn {
  border: none;
  background: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
  position: relative;

  &:not(:last-child) {
    margin-right: 2em;
  }

  & svg {
    width: 1.25em;
  }
}

.Header__summary {
  text-decoration: none;
  color: #ff1654;
  text-align: center;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.Header__summary__line {
  font-size: 0.8em;
}

@keyframes noise-anim {
  $steps: 20;

  @for $i from 0 through $steps {
    #{percentage($i * (1 / $steps))} {
      clip: rect(random(100) + px, 9999px, random(100) + px, 0);
    }
  }
}

@keyframes noise-anim-2 {
  $steps: 20;

  @for $i from 0 through $steps {
    #{percentage($i * (1/$steps))} {
      clip: rect(random(100) + px, 9999px, random(100) + px, 0);
    }
  }
}
