// hsla
// hsla(344, 100%, 54%, 1)
// rgba
// rgba(255,22,84,1)
// hex
// #FF1654

.Header {
  // font-family: Montserrat;
  color: #fff;

  position: absolute;
  width: 100%;
  z-index: 10;
  padding: 0 3em;

  margin-top: 1.5em;

  &.light {
    // old
    // position: static;
    // color: #000;
    // margin-bottom: 2em;

    position: absolute;
    color: #000;
    margin-bottom: 2em;
    background: transparent;

    .logo {
      fill: #d4004c;
    }

    svg g#Product {
      stroke: #000;
    }

    .Header__nav {
      a {
        color: #000;
      }

    }

    .Header__btn {
      .cart-quantity {
        color: #fff;
      }
    }
  }
}

.Header__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 10em;
  height: 100%;
  fill: #fff;

  & g > g:last-child {
    fill: #d4004c;
  }

}

.Header__icon {
  font-size: 0.3em;
}

.Header__nav {
  display: flex;
  align-items: center;

  font-size: 1rem;
  text-transform: lowercase;
  letter-spacing: 0.1em;

  .link {
    margin-right: 4em;
  }

  a {
    display: block;
    color: #fff;
    // margin-right: 4em;
  }
}

.Header__btn {
  border: none;
  background: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
  position: relative;

  &:not(:last-child) {
    margin-right: 2em;
  }

  & svg {
    width: 1.25em;
  }

  & .cart-quantity {
    // border: 1px solid rgba(255, 199, 199, 1);
    border: 1px solid #d4004c;
    border-radius: 50% 50%;
    height: 16px;
    width: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -6px;
    left: 20px;
    // background: rgba(255, 199, 199, 1);
    background: #d4004c;
    font-size: 0.25em;
  }


}

.Header__summary {
  text-decoration: none;
  color: #FF1654;
  text-align: center;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.Header__summary__line {
  font-size: 0.8em;
}

@keyframes noise-anim {
  $steps: 20;

  @for $i from 0 through $steps {
    #{percentage($i * (1 / $steps))} {
      clip:rect(random(100) + px, 9999px, random(100) + px, 0);
    }
  }
}

@keyframes noise-anim-2 {
  $steps: 20;

  @for $i from 0 through $steps{
    #{percentage($i * (1/$steps))}{
      clip:rect(random(100) + px, 9999px, random(100) + px, 0);
    }
  }
}
