.legal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 0 auto;
  padding: 8em 0;
  max-width: 800px;

  font-family: Montserrat, sans-serif;
  color: rgba(0, 0, 0, 0.75);

  & h1 {
    margin-bottom: 4em;
    text-align: center;
    letter-spacing: 0.15em;
  }

  & h3 {
    // font-size: 1.25em;
    letter-spacing: 0.05em;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0.5em;
  }

  & h4 {
    font-style: italic;
    margin-bottom: 0.25em;
  }

  & p {
    margin-bottom: 2em;
    font-size: 0.875rem;
    line-height: 1.8;
  }

  @media (max-width: '550px') {
    padding: 8em 2em;
  }
}
