.Product {
  text-decoration: none;
  color: black;
  cursor: pointer;

  &.add {
    font-family: 'Averia Serif Libre';
    padding: 1.5em;
    // border-radius: 6px;
    background: transparent;
    color: #d4004c;
    text-transform: uppercase;
    border: 1px solid #d4004c;
    font-weight: bold;

    max-width: 200px;
    margin: 2em 0;

    overflow: hidden;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
      7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    color: #d4004c;
    border: 1px solid #d4004c;

    position: relative;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;

    &:after {
      content: '';
      position: absolute;
      z-index: -1;
      -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;
      transition: all 0.4s;
      width: 100%;
      height: 0;
      top: 0;
      left: 0;
      // background: linear-gradient(180deg, #d4004c 0%, #f40075 100%);
      background: linear-gradient(100deg, rgb(248, 7, 89), rgb(188, 78, 156));
    }

    &:hover:after,
    &:active:after {
      height: 100%;
    }

    &:hover,
    &:active {
      color: #fff;
      cursor: pointer;
    }
  }
}

.Product__image {
  // border: 3px solid black;
  padding: 7px;
  width: 100%;
  position: relative;
  margin-bottom: 25px;
  // box-shadow: 9px 9px black;

  img {
    width: 100%;
    display: block;
  }
}

// .Product:hover .Product__image {
//   img {
//     transform: skew(-15deg, -5deg) rotate(20deg);
//   }

//   &:before, &:after {
//     content: "";
//     position: absolute;
//     background: black;
//     z-index: 2;
//   }

//   &:before {
//     left: 50%;
//     margin-left: 1px;
//     top: 8px;
//     bottom: 7px;
//     animation: cross-1 6s steps(4, end) infinite alternate-reverse;
//   }

//   &:after {
//     top: 50%;
//     margin-top: 1px;
//     left: 7px;
//     right: 7px;
//     animation: cross-2 9s steps(6, end) infinite alternate-reverse;
//   }
// }

.Product__details {
  display: flex;
  align-items: center;
}

.Product__name {
  padding-right: 20px;
  color: #ff1654;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding-right: 20px;
}

.Product__price {
  font-size: 0.8em;
  font-weight: normal;
  // color: #555;
}

.Product__buy {
  // flex: 1;
  // text-align: right;
  margin-left: auto;
  text-transform: uppercase;
  background: #ff1654;
  padding: 10px 20px;
  color: white;
  // border-radius: 8px;
  // position: relative;
  // font-weight: bold;

  // &:hover {
  //   text-decoration: underline;

  //   &:before {
  //     content: "Yes now";
  //     position: absolute;
  //     top: -10px;
  //     left: 60%;
  //     white-space: nowrap;
  //     // font-family: "times new roman", times, serif;
  //     font-weight: normal;
  //     font-style: italic;
  //     mix-blend-mode: difference;
  //     text-transform: lowercase;
  //     text-decoration: overline;
  //     color: #00efff;
  //     font-size: 2em;
  //     animation: blink 6s steps(4, end) infinite alternate-reverse;
  //   }
  // }
}

.product_container {
  // old
  // display: flex;
  // justify-content: space-evenly;

  // width: 100%;

  // // margin: 8em 0em;
  // margin: 11em 0;

  // font-family: Montserrat;

  // div {
  //   flex-basis: 40%;
  // }

  display: flex;
  justify-content: space-evenly;
  width: 100%;
  font-family: Montserrat;
  height: 100%;
  min-height: 100vh;

  @media (max-width: '950px') {
    flex-direction: column;
  }

  & .left {
    display: flex;
    justify-content: center;
    flex-basis: 50%;
    align-items: center;
    position: relative;
    background: #fadbdb;
    // border-right: 1px solid #f5bc5e;

    @media (min-width: '951px') and (max-width: '1500px') {
      padding-bottom: 20em;
    }

    @media (max-width: '950px') {
      height: 850px;
      flex-basis: unset;
    }

    @media (max-width: '600px') {
      height: 700px;
      flex-basis: unset;
    }

    @media (max-width: '400px') {
      height: 550px;
      flex-basis: unset;
    }

    @media (max-width: '300px') {
      height: 450px;
      flex-basis: unset;
    }

    //  &:after {
    //   position: absolute;
    //   width: 100%;
    //   content: " ";
    //   background: radial-gradient(circle at 120% 50%, transparent 25%, #535353 26%, #f4f0ec 27%);
    //   background-color: transparent;
    //   background-size: 50px 100px;
    //   height: 10px;
    //   background-repeat: repeat-x;
    // }
  }

  & .right {
    flex-basis: 50%;
    background: #fff;

    // &:before {
    //   position: absolute;
    //   // bottom: -40px;
    //   left: 0px;
    //   width: 100%;
    //   content: " ";
    //   background: radial-gradient(circle at 50% -25%, transparent 25%, #535353 26%, #f4f0ec 27%);
    //   background-color: transparent;
    //   background-size: 50px 100px;
    //   height: 10px;
    //   background-repeat: repeat-x;
    //   transform: rotate(-90deg);
    // }
  }
}

.product_image_container {
  padding: 2em;
}

.product_detail {
  display: flex;
  flex-direction: column;

  padding: 8em 4em;

  // margin: auto;

  @media (max-width: '950px') {
    padding: 64px;
  }

  @media (max-width: '450px') {
    padding: 64px 24px;
  }

  h1 {
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Averia Serif Libre';
    line-height: 0.75;
  }

  p {
    font-size: 0.9em;
    margin: 1em 0;
    font-weight: 400;
    color: rgb(74, 74, 74);
    width: 75%;
  }
}

select {
  display: block;
  font-size: 16px;
  font-family: 'Averia Serif Libre';
  font-weight: 700;
  color: #444;
  line-height: 1.3;
  padding: 0.6em 1.4em 0.5em 0.8em;
  width: fit-content;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}
select::-ms-expand {
  display: none;
}
select:hover {
  border-color: #888;
}
select:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}
select option {
  font-weight: normal;
}

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

.btn_picker,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
  * Show the overflow in IE.
  * 1. Show the overflow in Edge.
  */

.btn_picker,
input {
  /* 1 */
  overflow: visible;
}

/**
  * Remove the inheritance of text transform in Edge, Firefox, and IE.
  * 1. Remove the inheritance of text transform in Firefox.
  */

.btn_picker,
select {
  /* 1 */
  text-transform: none;
}

/**
  * Correct the inability to style clickable types in iOS and Safari.
  */

.btn_picker {
  background: none;
  -webkit-appearance: button;
  // border: 1px solid #999;
  // color: #444;
  // border-radius: 6px;
  width: 150px;
  height: 80px;
  // margin-bottom: 1em;
  font-size: 0.875em;
  font-family: 'Averia Serif Libre';
  letter-spacing: 0.1em;
  // margin-right: 1em;

  border: 1px solid rgba(0, 0, 0, 0.1);
  // box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  opacity: 0.9;

  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  color: #d4004c;
  border: 1px solid #d4004c;

  position: relative;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  &:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, #d4004c 0%, #f40075 100%);
  }

  &:not(.selected):hover:after,
  &:active:after {
    height: 100%;
  }

  &:not(:last-child) {
    margin-bottom: 1em;
    margin-right: 1em;
  }
}

.btn_picker:hover {
  // border: 1px solid #FF1654;
  // border-radius: 6px;
  color: #fff;
  cursor: pointer;
}

.btn_picker.selected {
  // background: #FF1654;
  // background: linear-gradient(
  //   180deg,
  //   rgba(212, 0, 76, 1) 0%,
  //   rgba(244, 0, 117, 1) 100%
  // );
  // border: 2px solid #FF1654;
  // border: 1px solid black;
  background: linear-gradient(100deg, rgb(248, 7, 89), rgb(188, 78, 156));
  border-radius: 6px;
  color: #fff;
  outline-width: 0;
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.3),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, 0.2);
}

.btn_picker:active {
  transform: scale(0.99);
}

.options {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
}

.product_container .awssld__content > img {
  object-fit: fill;
}

.c {
  position: absolute !important;
  // width: 450px;
  width: 80%;
  box-shadow: 0px 60px 50px -20px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.card {
  backface-visibility: hidden;
  transition: transform 2200ms cubic-bezier(0.63, -0.32, 0.4, 1.39);

  margin: 0 8em;

  &-front {
    transform: rotateY(0deg);
    max-width: 30%;
    z-index: 1;

    &--flip {
      max-width: 30%;
      transform: rotateY(-180deg);
    }
  }
  &-back {
    position: absolute;
    width: 33%;
    transform: rotateY(180deg);
    left: 0;

    &--flip {
      position: absolute;
      width: 33%;
      transform: rotateY(0);
      left: 0;
    }
  }
}

@keyframes cross-1 {
  $steps: 5;

  @for $i from 0 through $steps {
    #{percentage($i * (1 / $steps))} {
      transform: translate((random(50) - 25) + px, (random(50) - 25) + px)
        rotate((30 - random(60)) + deg);
      width: (1 + random(3)) + px;
    }
  }
}

@keyframes cross-2 {
  $steps: 5;

  @for $i from 0 through $steps {
    #{percentage($i * (1 / $steps))} {
      transform: translate((random(50) - 25) + px, (random(50) - 25) + px)
        rotate((30 - random(60)) + deg);
      height: (1 + random(2)) + px;
    }
  }
}

@keyframes blink {
  $steps: 20;

  @for $i from 0 through $steps {
    #{percentage($i * (1 / $steps) + ((15 - random(30)) / 15) * (1 / $steps))} {
      @if ($i % 3 == 0) {
        opacity: 1;
      } @else {
        opacity: 0;
      }
    }
  }
}
