.siteInfoContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 64px 32px;
  background: linear-gradient(180deg, #d4004c 0%, #f40075 100%);
  color: white;
  font-family: 'Averia Serif Libre';

  text-transform: lowercase;

  & .links {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
  }

  a {
    color: white;
  }

  @media (max-width: 800px) {
    padding: 32px;
  }
}

.emailInput {
  flex-direction: row;

  & input {
    width: 300px;
    max-width: 300px;
    min-width: 150px;
    padding: 10px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
  }

  & button {
    color: white;
    text-transform: uppercase;
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #fff;
    cursor: pointer;
    letter-spacing: 0.1em;
    font-family: 'Averia Serif Libre';
  }

  & p {
    font-size: 0.5rem;
    margin-top: 16px;
  }
}

.subscribeContainer {
  .privacyText {
    font-size: 0.5rem;
    margin-top: 8px;
  }
}
