// .snip-layout.snip-layout {
//   * {
//     font-family: itim, consolas, Menlo, monospace, sans-serif;
//   }

//   .snip-product__name {
//     text-transform: none;
//   }

//   .snip-layout__main-container {
//     border: 2px solid black;
//     padding: 3px;
//   }

//   .snip-header__total {
//     border-radius: 0;
//   }
// }

// .snipcart-layout.snipcart-modal {
//   font-family: itim, sans-serif;

//   .snipcart-cart-header {
//     text-transform: lowercase;
//     letter-spacing: 0.1em;
//   }

//   .snipcart-modal__close-title {
//     font-family: itim;
//     text-transform: lowercase;
//   }

//   .snipcart__icon--blue-dark path {
//     fill: #FF1654;
//   }

//   .snipcart__icon--blue-light path {
//     fill: #FF1654;
//   }

//   .snipcart__font--secondary, .snipcart__font--subtitle {
//     font-family: itim;
//     letter-spacing: 0.1em;
//     text-transform: lowercase;
//   }

//   .snipcart__font--tiny {
//     text-transform: lowercase;
//   }

//   .snipcart-discount-box__cancel {
//     margin-left: 0;
//     padding: 8px;
//   }

//   .snipcart-item-line {
//     border-radius: 8px;
//   }

//   .snipcart-discount-box__button {
//     // background-color: #fff;
//     border-radius: 8px;
//   }

//   .snipcart-cart-button--highlight {
//     border-radius: 8px;
//   }
// }


.snipcart-cart--opened {
  & .Container {
    opacity: 0.25;
    pointer-events: none;
  }
}

div.snipcart-modal__container {
  max-width: 500px;
  width: 40%;
  right: 0;
  left: unset;

  background: #fff;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.2), 15px 0 40px rgba(0, 0, 0, 0.05);
}

div.snipcart-modal__container.snipcart-layout--large {
  width: 100%;
  max-width: unset;
}

.snipcart-layout.snipcart-modal {
  background-color: hsla(344, 100%, 100%, 1);
}

.snipcart-layout .snipcart-layout__content {
  padding: 0 2em;
}

.snipcart-layout .snipcart-cart__content {
  display: flex;
  flex-direction: column;
  height: 100%;

  background-color: transparent;
}

.snipcart-layout .snipcart-item-line__container {
  padding: 2em 0;

  & .snipcart-item-line__product {
    padding: 0 1em;
  }

  & > figure {
    position: relative;
    top: 4px;
  }
}

.snipcart-layout .snipcart-item-line__header, .snipcart-layout .snipcart-item-quantity__total-price {
  margin-bottom: 0.5em;
}

.snipcart-layout .snipcart__button--icon {
  border: none;
}

.snipcart-layout .snipcart__icon--red path {
  fill: #000;
}

.snipcart-layout .snipcart-item-line__info, .snipcart-layout .snipcart-item-line__variants {
  padding: 0;
}

.snipcart-layout .snipcart-item-quantity__label {
  display: none;
}

.snipcart-layout .snipcart-item-quantity__quantity-price-container {
  flex-direction: column-reverse;
  align-items: flex-start;
}

.snipcart-layout .snipcart-item-quantity__quantity {
  width: 40%;
  height: 40px;
}

.snipcart-layout .snipcart-layout__content {
  width: 100%;
  margin: 0;
}

.snipcart-layout .snipcart-item-line {
  box-shadow: none;
}

.snipcart-layout .snipcart-cart__footer {
  margin-top: auto;
  // padding: 2em;
}

.snipcart-layout .snipcart-cart__footer-col {
  width: 100%;
}

.snipcart-layout .snipcart-cart-summary__footer {
  background: #fff;
}

.snipcart-layout .snipcart-featured-payment-methods {
  margin: 0;
}

.snipcart-layout .snipcart-featured-payment-methods__title {
  background-color: #fff;
}

.snipcart-layout .snipcart-cart-summary-fees {
  margin-top: auto;
}

.snipcart-layout  .cart__footer-discount-box {
  display: none;
}

.snipcart-layout .snipcart-cart-button--highlight {
  background: rgb(232,89,130);
  background: linear-gradient(270deg, rgba(232,89,130,1) 0%, rgba(255,22,84,1) 100%);
}

.snipcart-layout .snipcart-item-custom-fields {
  display: none;
}

.snipcart-layout .snipcart-cart__secondary-header {
  background: #fff;
  padding: 0;

  & button {
    cursor: pointer;
  }
}

.snipcart-layout .snipcart-item-line__media--small {
  min-width: 120px;
  width: auto;
  height: auto;

  margin-right: 1em;

  & .snipcart-item-line__image {
    max-width: unset;
    width: 148px;
  }
}

.snipcart-layout .snipcart-item-line__image {
  width: 148px;
}

.snipcart-layout .snipcart-item-line--cart-edit {
  margin: 0;

  border: none;

  .snipcart-item-line__product {
    padding: 0;
  }

  .snipcart-item-quantity__quantity.snipcart__font--std {
    width: 25%;
  }

  .snipcart-item-line__content {
    position: relative;
    top: -5em;
    left: 12.25em;
  }
}

.snipcart-layout .snipcart-item-line--cart-edit .snipcart-item-line__header  {
  align-items: flex-start;
}

.snipcart-layout .snipcart-cart--edit .snipcart-cart__footer {
  padding: 1em 0;
}

.snipcart-layout .snipcart-item-line--cart-edit img.snipcart-item-line__image {
  width: 148px;
}


