.Wrap {
  // max-width: 1000px;
  // margin: 0 auto;
  // padding: 0 50px;
  // box-shadow: 3px 3px 6px 1px rgba(0, 0, 0, 0.3);
  /* transform: skewX(-1deg); */
  // border-radius: 9px;
  // display: flex;
  // flex-direction: column;
  // flex: 1;
  // height: 40vw;
  .legal-footer {
    display: flex;
    background: #FF1654;
    color: #fff;
    padding: 0.25em 1em;
    font-family: 'Montserrat';
    font-size: 0.75em;
    justify-content: space-around;

    div:first-child {
      text-transform: lowercase;
    }
  }
}

.Wrap__main_content {
  // display: flex;
  // flex-direction: column;
  // flex: 1;
  // height: 100vh;

  // background: url('../assets/annie-spratt-PhT7MMnxmfo-unsplash.jpg');
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: center;
  .video-text {
    display: flex;
    flex-direction: column;
    // position: relative;
    font-family: Montserrat;

    position: absolute;
    width: calc(100vh * (1000 / 960));
    height: calc(100vw * (540 / 1000));
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    & p {
      position: absolute;
      color: white;
      z-index: 10;
      top: 22%;
      left: 20%;
      font-size: 48px;
      text-transform: capitalize;
    }

    & .text-container {
      position: absolute;
      z-index: 10;
      top: 80%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      text-align: center;
      color: #fff;

      letter-spacing: 0.2em;
      font-family: 'Averia Serif Libre';

      & .small-text {
        font-size: 1em;
        text-transform: uppercase;

        position: relative;
        top: 16px;
      }

      & .large-text {
        display: flex;

        font-size: 2em;
        text-transform: uppercase;

        margin: 0.5em;
        font-weight: bold;
        // text-shadow: 0px 0px 43px #000;

        span {
          display: block;
          margin: 0 6px;
          overflow: hidden;
        }

        span:last-of-type {
          color: #d4004c;
          text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
          font-weight: 900;
        }
      }
    }

    & .text-line {
      // position: absolute;
      // z-index: 10;
      // top: 50%;
      // left: 50%;
      color: white;
      // z-index: 10;
      font-size: 48px;
      text-transform: capitalize;
    }

    & button {
      // position: absolute;
      // z-index: 10;
      // top: 50%;
      // left: 50%;
      padding: 20px;
      border-radius: 4px;
      background: #d4004c;
      color: #fff;
      text-transform: uppercase;
      // border: 1px solid white;
      border: none;
      font-size: 12px;
      font-family: Lato;
      box-shadow: 1px 1px 6px 0px #000;
      letter-spacing: 0.1em;
      cursor: pointer;
    }
  }
  video {
    // position: relative;
    // width: 100vw;
    z-index: -10;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: unset;

    filter: grayscale(1) brightness(0.5);
  }
}

.card-example_container {
  display: flex;

  font-family: Montserrat;
  letter-spacing: 0.1em;
}

.card-example_description {
  flex-basis: 50%;

  // font-size: 24px;

  align-self: center;
  padding: 4em;

  h1 {
    font-size: 2em;
    margin-bottom: 1em;
  }
}

.card-example_photo_container {
  flex-basis: 50%;

  // background: #d4004c;
  /* transform: skewX(10deg); */
  padding: 4em;
}

.card-example_photo {
  // background-color: #d4004c;
  width: 100%;
}

.how-container {
  // font-family: 'Averia Serif Libre';
  font-family: 'Montserrat';
  // padding: 0 2em 6em 2em;
  // padding-bottom: 6em;
  padding: 4em 2em;

  display: flex;
  flex-direction: column;

  background: #f4f0ec;

  .how-title {
    text-align: center;
    font-size: 2em;
    margin-bottom: 2em;
    // text-transform: uppercase;
    font-family: 'Averia Serif Libre';
  }

  .step-container {
    display: flex;
    justify-content: space-around;
  }

  .how-step {
    flex-basis: 25%;

    padding: 1em 2em;
    text-align: center;

    div {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    // &:not(:last-child) {
    //   background-image: linear-gradient(#000, #000);
    //   background-size: 2px 50%;
    //   background-repeat: no-repeat;
    //   background-position: right center;
    // }
  }

  .how-description {
    font-family: 'Montserrat';
    font-weight: 100;
    text-transform: none;
    line-height: 1.5;
  }

  .how-type {
    padding: 3em 0;
    text-transform: uppercase;
    font-size: 0.75em;
  }

  .how-icon {

  }

  svg {
    // margin-bottom: 1em;

    &.happy-face {
      width: 29%;
    }

    &.truck {
      width: 51%;
    }

    &.postcard {
      width: 38%;
    }

    &.occasion {
      width: 35%;
    }
  }
}

// .showcase {
//   background: #f4f0ec;
//   padding: 12em 6em;
//   position: relative;
//   display: flex;

//   .showcase-image {
//     position: relative;
//     overflow: hidden;
//     flex: 1 1 50%;
//     box-shadow: 4px 8px 24px 0px rgba(0, 0, 0, 0.2), 4px 12px 36px 0px rgba(0, 0, 0, 0.1);
//     z-index: 10;
//   }

//   .showcase-copy {
//     color: #d4004c;
//     font-family: 'Averia Serif Libre';
//     font-size: 4em;
//     margin-left: 2em;
//     line-height: 1.25;
//     text-shadow: 0px 2px 2px rgba(0,0,0,0.1);
//     flex: 1 1 50%;
//   }

//   svg {
//     width: 44%;
//     top: 21%;
//     left: 6%;
//     position: absolute;

//     circle {
//       fill: white;
//     }
//   }
// }
