.Wrap {
  // max-width: 1000px;
  // margin: 0 auto;
  // padding: 0 50px;
  // box-shadow: 3px 3px 6px 1px rgba(0, 0, 0, 0.3);
  /* transform: skewX(-1deg); */
  // border-radius: 9px;
  // display: flex;
  // flex-direction: column;
  // flex: 1;
  // height: 40vw;
  .legal-footer {
    display: flex;
    background: #ff1654;
    color: #fff;
    padding: 0.25em 1em;
    font-family: 'Montserrat';
    font-size: 0.75em;
    justify-content: space-around;

    div:first-child {
      text-transform: lowercase;
    }
  }
}

.Wrap__main_content {
  // display: flex;
  // flex-direction: column;
  // flex: 1;
  // height: 100vh;

  // background: url('../assets/annie-spratt-PhT7MMnxmfo-unsplash.jpg');
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: center;
  .video-text {
    display: flex;
    flex-direction: column;
    // position: relative;
    font-family: Montserrat;

    position: absolute;
    width: calc(100vh * (1000 / 960));
    height: calc(100vw * (540 / 1000));
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    & p {
      position: absolute;
      color: white;
      z-index: 10;
      top: 22%;
      left: 20%;
      font-size: 48px;
      text-transform: capitalize;
    }

    & .text-container {
      position: absolute;
      z-index: 10;
      top: 50%;
      // left: 50%;
      // transform: translateX(-50%) translateY(-50%);
      transform: translateY(-50%);
      color: #fff;

      letter-spacing: 0.3em;
      // font-family: 'Averia Serif Libre';
      padding-left: 4em;

      // @media (min-width: 600px) and (max-width: 800px) {
      //   left: 60%;
      // }

      @media (max-width: 900px) {
        font-size: 0.75rem;
        // left: 75%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      & .small-text {
        font-size: 2em;
        letter-spacing: 0.18em;
        margin-bottom: 16px;

        @media (max-width: 600px) {
          font-size: 24px;
        }
        // position: relative;
        // top: 16px;
        text-transform: uppercase;
        margin-bottom: 0.5em;
      }

      & .large-text {
        display: flex;

        font-size: 3em;
        text-transform: lowercase;
        font-weight: bold;
        // letter-spacing: 0.18em;

        width: 650px;
        margin-bottom: 32px;

        @media (max-width: 600px) {
          margin-bottom: 16px;
        }

        width: 800px;
        margin-bottom: 0.5em;
        line-height: 1;
        text-transform: uppercase;

        span {
          display: block;
          margin-right: 0.25em;
          overflow: hidden;
          text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
          text-transform: uppercase;
        }

        // span:last-of-type {
        //   color: #d4004c;
        //   text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
        //   font-weight: 900;
        // }
      }
    }

    .rotator {
      display: block;
      margin-right: 0.25em;
      overflow: hidden;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
      color: #d4004c;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
      font-weight: 900;

      display: flex;
      // font-size: 3em;
      text-transform: uppercase;
      font-weight: bold;
      // width: 650px;
      // margin-bottom: 1em;

      @media (max-width: 600px) {
        font-size: 24px;
        margin-bottom: 32px;
      }
    }

    & .text-line {
      // position: absolute;
      // z-index: 10;
      // top: 50%;
      // left: 50%;
      color: white;
      // z-index: 10;
      font-size: 48px;
      text-transform: capitalize;
    }

    // & button {
    //   width: 21em;
    //   padding: 20px;
    //   border-radius: 4px;
    //   background: #d4004c;
    //   color: #fff;
    //   text-transform: uppercase;
    //   border: none;
    //   font-size: 12px;
    //   font-family: Lato;
    //   box-shadow: 1px 1px 6px 0px #000;
    //   letter-spacing: 0.1em;
    //   cursor: pointer;
    // }
  }
  video {
    // position: relative;
    // width: 100vw;
    z-index: -10;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: unset;

    filter: grayscale(1) brightness(0.5);
  }
}

.card-example_container {
  display: flex;

  font-family: Montserrat;
  letter-spacing: 0.1em;
}

.card-example_description {
  flex-basis: 50%;

  // font-size: 24px;

  align-self: center;
  padding: 4em;

  h1 {
    font-size: 2em;
    margin-bottom: 1em;
  }
}

.card-example_photo_container {
  flex-basis: 50%;

  // background: #d4004c;
  /* transform: skewX(10deg); */
  padding: 4em;
}

.card-example_photo {
  // background-color: #d4004c;
  width: 100%;
}

.how-container {
  // font-family: 'Averia Serif Libre';
  font-family: 'Montserrat';
  // padding: 0 2em 6em 2em;
  // padding-bottom: 6em;
  padding: 4em 2em;

  display: flex;
  flex-direction: column;
  justify-content: center;

  background: #fff;

  .how-title {
    text-align: center;
    font-size: 8em;
    font-family: 'Les Mores';
    position: relative;
    width: fit-content;
    margin: 0 auto;
    top: 0;
  }

  .step-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .how-step {
    flex-basis: 25%;

    padding: 1em 2em;
    text-align: center;

    div {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    @media (max-width: 800px) {
      flex-basis: 100%;
      padding: 2em 0;
    }
  }

  .how-description {
    // font-family: 'Montserrat';
    font-family: 'orpheuspro';
    font-weight: 100;
    text-transform: none;
    line-height: 1.5;
    // text-align: justify;
  }

  .how-type {
    padding: 3em 0;
    text-transform: uppercase;
    font-size: 1.25em;
  }

  .how-icon {
    margin: 0 auto;
    background: linear-gradient(180deg, #d4004c 0%, #f40075 100%);
    border-radius: 50%;
    width: 12vw;
    height: 12vw;
    // background: linear-gradient(0deg, rgba(233,255,8,1) 0%, rgba(245,188,94,1) 100%);
    background: linear-gradient(
      190deg,
      rgba(238, 156, 167, 1) 0%,
      rgba(255, 227, 227, 1) 100%
    );
    background: rgba(255, 227, 227, 1);

    // box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.12),
    //   0px 4px 8px rgba(0, 0, 0, 0.12), 0px 8px 16px rgba(0, 0, 0, 0.12);
  }

  svg {
    // margin-bottom: 1em;

    &.happy-face,
    .postcard,
    .occasion {
      position: absolute;
      // width: 50%;
      width: 12vw;
    }

    &.truck {
      position: absolute;
      width: 15vw;
    }
  }
}

.img-wrapper {
  width: 100%;
  height: auto;
  padding-top: 63.3%;
}
