.Wrap {
  // max-width: 1000px;
  // margin: 0 auto;
  // padding: 0 50px;
  // box-shadow: 3px 3px 6px 1px rgba(0, 0, 0, 0.3);
  /* transform: skewX(-1deg); */
  // border-radius: 9px;
  // display: flex;
  // flex-direction: column;
  // flex: 1;
  // height: 40vw;
}

.Wrap__main_content {
  // display: flex;
  // flex-direction: column;
  // flex: 1;
  // height: 100vh;

  // background: url('../assets/annie-spratt-PhT7MMnxmfo-unsplash.jpg');
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: center;
  .video-text {
    display: flex;
    position: relative;
    font-family: Montserrat;

    & p {
      position: absolute;
      color: white;
      z-index: 10;
      top: 22%;
      left: 20%;
      font-size: 48px;
      text-transform: capitalize;
    }

    & .text-container {
      position: absolute;
      z-index: 10;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      text-align: center;
      color: #fff;

      letter-spacing: 0.1em;

      & .small-text {
        font-size: 24px;
        text-transform: uppercase;

        position: relative;
        top: 16px;
      }

      & .large-text {
        font-size: 48px;
        text-transform: uppercase;

        margin-bottom: 1.25em;
        font-weight: bold;
        text-shadow: 0px 0px 43px #000;

        span {
          color: #d4004c;
        }
      }
    }

    & .text-line {
      // position: absolute;
      // z-index: 10;
      // top: 50%;
      // left: 50%;
      color: white;
      // z-index: 10;
      font-size: 48px;
      text-transform: capitalize;
    }

    & button {
      // position: absolute;
      // z-index: 10;
      // top: 50%;
      // left: 50%;
      padding: 20px;
      border-radius: 4px;
      background: #d4004c;
      color: #fff;
      text-transform: uppercase;
      // border: 1px solid white;
      border: none;
      font-size: 12px;
      font-family: Lato;
      box-shadow: 1px 1px 6px 0px #000;
      letter-spacing: 0.1em;
      cursor: pointer;
    }
  }
  video {
    position: relative;
    width: 100vw;
    z-index: -10;

    filter: grayscale(1) brightness(0.5);
  }
}

.card-example_container {
  display: flex;

  font-family: Montserrat;
  letter-spacing: 0.1em;
}

.card-example_description {
  flex-basis: 50%;

  // font-size: 24px;

  align-self: center;
  padding: 4em;

  h1 {
    font-size: 2em;
    margin-bottom: 1em;
  }
}

.card-example_photo_container {
  flex-basis: 50%;

  // background: #d4004c;
  /* transform: skewX(10deg); */
  padding: 4em;
}

.card-example_photo {
  // background-color: #d4004c;
  width: 100%;
}

.how-container {
  font-family: 'Averia Sans Libre';
  padding: 2em;

  display: flex;
  flex-direction: column;

  background: #fafafa;

  .how-title {
    text-align: center;
    font-size: 3em;
    margin-bottom: 0.5em;
  }

  .step-container {
    display: flex;
    justify-content: space-around;
  }
  .how-step {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    padding: 2em;

    &:not(:last-child) {
      background-image: linear-gradient(#000, #000);
      background-size: 2px 50%;
      background-repeat: no-repeat;
      background-position: right center;
    }
  }

  svg {
    margin-bottom: 1em;

    &.happy-face {
      width: 50%;
    }

    &.truck {
      width: 88%;
    }

    &.postcard {
      width: 66%;
    }

    &.occasion {
      width: 61%;
    }
  }
}
